<%- include('../partials/header') %>

    <div class="container mt-3">
        <div class="container mt-3">
            <img src="/images/gardens/<%= garden.icon ? garden.icon : 'icon_00.png' %>" alt="garden icon" class="img-thumbnail float-end mt-3 garden-icon-show">
            <h2><%= garden.name %> » <%= section.name %></h2>
            <h3>Rename Section</h3>
        </div>

        <div class="mt-5">

            <!-- Display a form with the fields to rename a section -->
            <form action="/sections/<%= section.id %>?_method=PUT" method="post">
                <div class="container mt-3 input-group">
                    <input type="hidden" name="">
                    <input type="text" name="name" placeholder="Section Name" aria-label="Recipient's username" required class="form-control" value="<%= section.name %>">
                    <input type="submit" value="Rename" class="btn btn-outline-success col-lg-2">
                    <a href="/gardens/<%= gardenId %>" class="btn btn-outline-secondary col-lg-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>

<%- include('../partials/footer') %>