<%- include('../partials/header') %>

    <div class="container mt-3">
        <img src="/images/gardens/<%= garden.icon ? garden.icon : 'icon_00.png' %>" alt="garden icon" class="img-thumbnail float-end mt-3 garden-icon-show">
        <h2><%= garden.name %></h2>
        <h3><%= section.name %> </h3>
    </div>

    <div class="container mt-3">
        <h4>Edit Container</h4>

        <!-- Display a form with the fields to create a new container -->

        <form action="/containers/<%= container.id %>?_method=PUT" method="post">
            <fieldset>
                <div class="mb-3">
                    <label for="name" class="form-label">Container Name:</label>
                    <input type="text" name="name" id="" class="form-control" required value="<%= container.name %>" placeholder="container name (e.g., window box, green pot)">
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="location" id="" class="form-control" value="<%= container.location %>" placeholder="where in the section the container usually sits">
                </div>

                <div class="mb-3 input-group align-items-center">
                    <label for="qty" class="form-label me-2">Quantity:</label>
                    <input type="text" name="qty" id="" class="form-control me-3" value="<%= container.qty %>">

                    <label for="linerQty" class="form-label me-2 align-middle">Liner Quantity:</label>
                    <input type="text" name="linerQty" id="" class="form-control" value="<%= container.linerQty %>">
                </div>
                
                <div class="mb-3">
                    <input type="submit" value="Update Container" class="btn btn-outline-success col-lg-2">
                    <a href="/sections/<%= section.id %>" class="btn btn-outline-secondary col-lg-2">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>

<%- include('../partials/footer') %>