<%- include('../partials/header') %>

    <div class="container mt-3">
        <img src="/images/gardens/<%= garden.icon ? garden.icon : 'icon_00.png' %>" alt="garden icon" class="img-thumbnail float-end mt-3 garden-icon-show">
        <h2><%= garden.name %> > <%= section.name %> </h2>
        <h3>Container: <%= container.name %></h3>
    </div>

    <div class="container mt-3">
        <table class="container mt-2 table">
            <thead>
                <tr class="row">
                    <th class="col">My Flower</th>
                    <th class="col">Quantity</th>
                    <th class="col">Packaging</th>
                    <th class="col">Other Packaging</th>
                    <th class="col">Manage</th>
                </tr>
            </thead>

            <tbody>

                <% if (container.plantedFlowers && container.plantedFlowers.length > 0) { %>
                    <% container.plantedFlowers.forEach(pf => { %>
                        <form action="/plantedFlowers/<%= pf.id %>?_method=PUT" method="post">
                            <tr class="row mt-2 p-2">
                                <td class="col">
                                    <select name="flower" class="form-control">
                                            <option value="">Pick your favorite flower... **</option>
                                        <% myFavoriteFlowers.forEach(mff => { %>
                                            <option value="<%= mff.id %>" <%= (pf.flower.id == mff.id) ? 'selected' : '' %>><%= mff.myFlowerName %></option> 
                                        <% }); %>
                                    </select>
                                </td>
                                <td class="col"><input type="text" name="qty" value="<%= pf.qty %>" class="form-control"></td>
                                <td class="col">                        
                                    <select name="packaging" class="form-control">
                                        <option value="">Select flower packaging...</option> 
                                        <option value="Basket" <%= pf.packaging === 'Basket' ? 'selected' : '' %>>Basket</option> 
                                        <option value="Basket with Accent Plants" <%= pf.packaging === 'Basket with Accent Plants' ? 'selected' : '' %>>Basket with Accent Plants</option> 
                                        <option value="Individual" <%= pf.packaging === 'Individual' ? 'selected' : '' %>>Individual</option> 
                                        <option value="Other" <%= pf.packaging === 'Other' ? 'selected' : '' %>>Other</option> 
                                    </select>
                                </td>
                                <td class="col"><input type="text" name="otherPackaging" value="<%= pf.otherPackaging %>" class="form-control"></td>
                                <td class="col">
                                    <div class="btn-grp">
                                        <input type="submit" value="Update" class="btn btn-outline-success">
                                        <a href="/plantedFlowers/<%= pf.id %>/delete" class="btn btn-outline-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </form>
                    <% }); %>
                <% } %>
                        
                <% if (myFavoriteFlowers.length > 0) { %>
                    <tr class="row p-2">
                        <form action="/containers/<%= container.id %>/plantedFlowers" method="post">
                            <td class="col">
                                <select name="flower" class="form-control">
                                        <option value="" selected>Pick your favorite flower... **</option>
                                    <% myFavoriteFlowers.forEach(mff => { %>
                                        <option value="<%= mff.id %>"><%= mff.myFlowerName %></option> 
                                    <% }); %>
                                </select>
                            </td>
                            <td class="col">
                                <input type="text" class="form-control" name="qty" placeholder="number needed">
                            </td>
                            <td class="col">                        
                                <select name="packaging" class="form-control">
                                    <option value="">Select flower packaging...</option> 
                                    <option value="Basket">Basket</option> 
                                    <option value="Basket with Accent Plants">Basket with Accent Plants</option> 
                                    <option value="Individual">Individual</option> 
                                    <option value="Other">Other</option> 
                                </select>
                            </td>
                            <td class="col">
                                <input type="text" class="form-control" name="otherPackaging">
                            </td>
                            <td class="col">
                                <input type="submit" value="Add" class="btn btn-outline-success">
                            </td>
                        </form>
                    </tr>
                <% } %>
            </tbody>
                        
        </table>
        <p>*  Please update or add one planted flower at a time and save those changes before making your next change.</p>
        <p>** You need to search for flowers and add them to your Favorite Flowers before they can be added to a container.</p>
        <div class="container mt-3 btn-group">
            <a href="/myFlowers/search" class="btn btn-outline-secondary">Search for Flowers</a>
            <a href="/sections/<%= section.id %>" class="btn btn-outline-success">Done</a>
            
        </div>
    </div>
                        
<%- include('../partials/footer') %>