<%- include('../partials/header') %>

    <div class="container mt-3">
        <img src="/images/gardens/<%= garden.icon ? garden.icon : 'icon_00.png' %>" alt="garden icon" class="img-thumbnail float-end mt-3 garden-icon-show">
        <h2><%= garden.name %> > <%= section.name %> </h2>
        <h3>Container: <%= container.name %></h3>
        <p>Here we need to show the form and info to add flowers to the container...</p>
    </div>


<%- include('../partials/footer') %>