<%- include('../partials/header') %>

    <div class="container center mt-3">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <h1>Plant and Flower Search Results</h1>
            </div>
        </div>
        

        <div class="row">
            <% if (plants.length > 0) { %>
                <!-- Display existing gardens here -->
                <% plants.forEach(p => { %>
                    <div class="card border-secondary mt-3 me-3 flower-card">
                        <div class="card-body">
                            <h5 class="card-title"><%= p.common_name %></h5>
                            <p class="card-text"><%= p.scientific_name %></p>
                        </div>
                        <% if (loggedIn) { %> 
                        <div class="card-footer btn-group text-end">
                            <form action="/myFlowers" method="post">
                                <div class="container mt-3 input-group">
                                    <input type="hidden" name="commonName" value="<%= p.common_name %>">
                                    <input type="hidden" name="scientificName" value="<%= p.scientific_name %>">
                                    <input type="hidden" name="externalApiId" value="<%= p.id %>">
                                    <input type="text" name="myFlowerName" placeholder="my name for this flower" aria-label="My Flower Name" class="form-control">
                                    <input type="submit" value="Save Favorite" class="btn btn-outline-success">
                                </div>
                        </form>
                        </div>
                        <% } %>
                    </div>
                <% }); %>

            <% } else { %>
                <h4>No plants found for the given keyword</h4>
            <% } %>

        </div>
    </div>

<%- include('../partials/footer') %>