<%- include('../partials/header') %>

    <div class="container center mt-3">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <h1>My Gardens</h1>
            </div>
            <div class="col">
                <!-- Allow them add a new garden -->
                <a href="/gardens/new" class="btn btn-outline-success float-end">Create New Garden</a>
            </div>
        </div>
        

        <div class="row">
            <% if (loggedIn) { %>
                <% if (gardens.length > 0) { %>
                    <!-- Display existing gardens here -->
                    <% gardens.forEach(g => { %>
                        <div class="card border-secondary mt-3 me-3 garden-card">
                            <img src="/images/gardens/<%= g.icon ? g.icon : 'icon_00.png' %>" alt="garden icon" class="card-img-top mt-3 garden-icon">
                            <div class="card-body">
                                <h5 class="card-title"><%= g.name %></h5>
                                <p class="card-text"><%= g.desc %></p>
                            </div>
                            <div class="card-footer btn-group text-end">
                                <a href="/gardens/<%= g.id %>" class="btn btn-outline-success ms-3">View</a>
                                <a href="/gardens/<%= g.id %>/delete" class="btn btn-outline-danger me-3">Delete</a>
                            </div>
                        </div>
                    <% }); %>

                <% } else { %>
                    <h4>No gardens created</h4>
                <% } %>
                
            <% } else { %>
                <p>Log in or sign up to start creating your garden</p>
                <a href="/users/login" class="btn btn-primary">Log In</a>
                <a href="/users/signup" class="btn btn-secondary">Sign Up</a>
            <% } %>
        </div>
    </div>

<%- include('../partials/footer') %>