<%- include('../partials/header') %>

    <div class="container mt-3">
        <img src="/images/gardens/<%= garden.icon ? garden.icon : 'icon_00.png' %>" alt="garden icon" class="img-thumbnail float-end mt-3 garden-icon-show">
        <h2><%= garden.name %></h2>
        <p><%= garden.desc %> </p>
        <a href="/gardens/<%= garden.id %>/edit" class="btn btn-outline-warning me-3">Edit</a>
        <a href="/gardens/<%= garden.id %>/delete" class="btn btn-outline-danger me-3">Delete</a>
    </div>

    <hr>
    <div class="container mt-3">
        <h3>Garden Sections</h3>
        <table class="table table-hover table-striped align-middle">
            <thead>
                <tr>
                    <th scope="col" class="col-lg-3">Name</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% if (garden.sections && garden.sections.length > 0) { %>
                    <% garden.sections.sort((a, b) => {
                        const nameA = a.name.toUpperCase();
                        const nameB = b.name.toUpperCase();
                        if (nameA < nameB) return -1;
                        if (nameA > nameB) return 1;
                        return 0;
                    }); %>
                    <% garden.sections.forEach(s => { %>
                        <tr>
                            <td><%= s.name %></td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="/sections/<%= s.id %>" class="btn btn-outline-success">Manage Containers & Flowers</a>
                                    <a href="/sections/<%= s.id %>/edit" class="btn btn-outline-warning">Rename Section</a>
                                    <a href="/sections/<%= s.id %>/delete" class="btn btn-outline-danger">Delete Section</a>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="4">No sections have been added to this garden</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <form action="/gardens/<%= garden.id %>/sections" method="post">
        <div class="container mt-3 input-group">
            <input type="hidden" name="">
            <input type="text" name="name" placeholder="Section Name" aria-label="Section Name" required class="form-control">
            <input type="submit" value="Add Section" class="btn btn-outline-success">
        </div>
    </form>

<%- include('../partials/footer') %>